@model Worstore.Models.HomeViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="section section-tabs">
    <div class="container">
        <div class="row">
            <div class=" col-sm-12 col-md-10   col-xl-8 ">
                @*<p class="category text-center">Tabs with Background on Card</p>*@
                <!-- Tabs with Background on Card -->
                <div class="card ">






                    <div class="card-header">
                        <ul class="nav nav-tabs justify-content-center" role="tablist">


                            <li class="nav-item">
                                <a class="nav-link  " data-toggle="tab" href="#addWord" role="tab" aria-selected="false">
                                    <i class="now-ui-icons ui-1_simple-add"></i> Add Word
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link show active" data-toggle="tab" href="#words" role="tab" aria-selected="true">
                                    <i class="now-ui-icons objects_planet"></i> Words
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#formFile" role="tab" aria-selected="false">
                                    <i class="now-ui-icons files_box"></i> Add From Excel
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body sk-loading" id="spinner">
                        
                        
                        
                        
                        


                        <div class="sk-cube-grid">
                            <div class="sk-cube sk-cube1"></div>
                            <div class="sk-cube sk-cube2"></div>
                            <div class="sk-cube sk-cube3"></div>
                            <div class="sk-cube sk-cube4"></div>
                            <div class="sk-cube sk-cube5"></div>
                            <div class="sk-cube sk-cube6"></div>
                            <div class="sk-cube sk-cube7"></div>
                            <div class="sk-cube sk-cube8"></div>
                            <div class="sk-cube sk-cube9"></div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content ">
                            <div class="tab-pane " id="addWord" role="tabpanel">

                                <form asp-action="AddWord" method="post">
                                    <div class="card card-plain">
                                        <div class="card-header">

                                        </div>
                                        <div class="card-body">
                                            @*<button type="button" class="btn btn-outline-danger btn-round">Danger</button>*@


                                            <div class="row justify-content-md-center">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Choose a word`s
                                                            language
                                                        </label>
                                                        @Html.Partial("_LanguagesSelectList", Model.Languages)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-md-center">
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label>Word</label>

                                                        <input asp-for="@Model.Word.Label" name="Label" class="form-control  border-4 " />

                                                        @*<input type="text" name="Label" value="" placeholder="Regular" class="form-control  border-4 ">*@
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label>Meanings</label>
                                                        <input asp-for="@Model.Word.MeaningsString" name="MeaningsString" class="form-control " data-role="tagsinput" />
                                                        @*<input type="text" name="Meanings" value="" data-role="tagsinput" class=" form-control">*@
                                                    </div>
                                                </div>

                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label>Pronunciation</label>
                                                        <input asp-for="@Model.Word.Pronunciation" name="Pronunciation" class="form-control  border-4 " />
                                                        @*<input type="text" name="Pronunciation" value="" placeholder="Regular" class="form-control  border-4 ">*@
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label>Group</label>
                                                        <input asp-for="@Model.Word.FkGroup" name="FkGroup" class="form-control  border-4 " />
                                                        @*<input type="text" value="" placeholder="Regular" class="form-control  border-4 ">*@
                                                    </div>

                                                </div>
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label>Tag</label>
                                                        <input asp-for="@Model.Word.Tag" name="Tag" class="form-control  border-4 " />
                                                        @*<input type="text" value="" placeholder="Regular" class="form-control  border-4 ">*@
                                                    </div>

                                                </div>
                                            </div>





                                        </div>
                                        <div class="card-footer">




                                            <button type="submit" class="btn btn-outline-success btn-round btn-lg btn-block">Save</button>


                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane active" id="words" role="tabpanel">




                                <table id="wordsTable" class="table table-striped table-bordered" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Label</th>
                                            <th>Pronunciation</th>
                                            <th>Meaning</th>
                                            <th>Tag</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tigdasdasdasdasdasdsadasdasda sdasdasdasdasdasdasdasdsader Nixon</td>
                                            <td>System Architect dasdasd dasdsad dasdasd asdasdasd</td>
                                            <td>Edinburgh</td>
                                            <td class="text-center">61</td>

                                        </tr>

                                    </tbody>

                                </table>


                            </div>
                            <div class="tab-pane" id="formFile" role="tabpanel">
                                
                         

                                <form asp-action="AddExcelFile" method="post" enctype="multipart/form-data">


                                    <div class="row justify-content-md-center">
                                        <div class="col-md-9">
                                            <div class="form-group ">
                                                <input type="file" class="custom-file-input" id="excelFile" name="excelFile" required>
                                                <label class="custom-file-label" for="excelFile">Choose file...</label>

                                            </div>
                                        </div>
                                        <div class="col-md-3">

                                            <button type="button" id="excelUpload" class="btn btn-outline-success btn-round mt-0 pull-right">Upload</button>

                                        </div>
                                    </div>





                                </form>
                                <hr/>
                                <div id="excelFileContent">
                                    
                                    
                                    
                                    @*<div class="row  justify-content-md-center">
                                        <ul class="nav nav-tabs justify-content-center" role="tablist">


                                            <li class="nav-item">
                                                <a class="nav-link  " data-toggle="tab" href="#ex1" role="tab" aria-selected="false">
                                                    <i class="now-ui-icons education_paper"></i> Add Word
                                                </a>
                                            </li>
                               
                                        </ul>
                                        <div class="tab-content ">
                                            <div class="tab-pane " id="ex1" role="tabpanel">
                                            </div>
                          
                               
                                
                                        </div>
                                    </div>*@
                                    

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tabs on plain Card -->
            </div>

            <div class=" col-sm-12 col-md-10  col-xl-4 ml-auto mr-auto">

                @*<p class="category text-center">Tabs with Background on Card</p>*@
                <!-- Tabs with Background on Card -->
                <div class="card ">






                    <div class="card-header">

                    </div>
                    <div class="card-body ">




                        <p class="card-title text-center category">Card title</p>
                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div>
                </div>
                <!-- End Tabs on plain Card -->
            </div>


        </div>
    </div>
</div>


@section Styles
    {

    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet" />



    <link href="@Url.Content("~/lib/chosen-select/bootstrap-chosen.css")" rel="stylesheet" />

    <link href="@Url.Content("~/lib/bootstrap-tagsinput/tagsinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/dropzone/dropzone.css")" rel="stylesheet" />



    <style>
        tbody {
            font-size: 12px;
        }

        thead {
            font-size: 14px;
        }

        .custom-file-label {
            color: #222;
            font-size: 14px;
            border-radius: 30px;
        }

        .custom-file-label::after {
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            background-color: #6bd098;
            border-left: 1px solid #ced4da;
        }










        .card-body .sk-loading .sk-cube-grid {
            display: none;
        }

        .card-body.sk-loading {
            position: relative;
        }

            .card-body.sk-loading:after {
                content: '';
                background-color: rgba(255, 255, 255, 0.7);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }



        .sk-loading .sk-cube-grid {
            width: 40px;
            height: 40px;
            display: block;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2000;
        }

        .sk-cube-grid .sk-cube {
            width: 33%;
            height: 33%;
            background-color: #6bd098;
            float: left;
            -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        }

        .sk-cube-grid .sk-cube1 {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        .sk-cube-grid .sk-cube2 {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .sk-cube-grid .sk-cube3 {
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        .sk-cube-grid .sk-cube4 {
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }

        .sk-cube-grid .sk-cube5 {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        .sk-cube-grid .sk-cube6 {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .sk-cube-grid .sk-cube7 {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .sk-cube-grid .sk-cube8 {
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }

        .sk-cube-grid .sk-cube9 {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        @@-webkit-keyframes sk-cubeGridScaleDelay {
            0%, 70%, 100% {
                -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
            }

            35% {
                -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
            }
        }

        @@keyframes sk-cubeGridScaleDelay {
            0%, 70%, 100% {
                -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
            }

            35% {
                -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
            }
        }
    </style>
}
@section Scripts
{

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>


    <script src="@Url.Content("~/lib/chosen-select/chosen.jquery.js")"></script>


    <script src="@Url.Content("~/lib/bootstrap-tagsinput/tagsinput.js")"></script>
    <script src="@Url.Content("~/lib/dropzone/dropzone.js")"></script>

    <script>
        $(document).ready(function() {
            $("input[id=excelFile]").change(function() {

                var fieldVal = $(this).val();
                fieldVal = fieldVal.replace("C:\\fakepath\\", "");
                if (fieldVal != undefined || fieldVal != "") {

                    $(this).next(".custom-file-label").text(fieldVal);
                }

            });


            $('#wordsTable').DataTable({
                pageLength: 25,
                responsive: true,

                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                dom: 'B <"row"<"col-md-6"l><"col-md-6"f>>rtip',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Export Excel',
                        className: 'btn btn-outline-danger  btn-round',
                        filename: 'Export excel',
                        exportOptions: {
                            modifier: {
                                page: 'all'
                            }
                        }
                    },
                ]


            });


            $(".chosen-select").chosen({ width: "100%" });

            $('#spinner').toggleClass('sk-loading');


            $('#excelUpload').click(function() {
                var formFile = new FormData();
                var excelFile = $("#excelFile")[0].files[0];
                formFile.append("excelFile", excelFile);
                console.log(formFile);


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReadExcelFile")',
                    dataType: "json",
                    data: formFile,
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function(data) {
                        var appendDiv = $("#excelFileContent");
                        //console.log(data);
                        appendUploadedExcelContent(appendDiv, data);


                    },
                    failure: function(response) {
                        alert(response);
                    }
                });

            });

            function appendUploadedExcelContent(divId, data) {
                var navTabs = "", tabContent = "", tableHeader = "";


                for (var i = 0; i < data.length; i++) {
                    tableHeader = "";
                    navTabs += `
                                            <li class="nav-item">
                                                <a class="nav-link  " data-toggle="tab" href="#${data[i].sheetLabel
                        }" role="tab" aria-selected="false">
                                                    <i class="now-ui-icons education_paper"></i> ${data[i].sheetLabel}
                                                </a>
                                            </li>
        `;
                    for (var j = 0; j < data[i].excelHeader.length; j++) {
                        tableHeader += `<th>${data[i].excelHeader[j]}</th>`;
                    }
                    tabContent += `
                                         <div class="tab-pane " id="${data[i].sheetLabel}" role="tabpanel">

                     <table id="sheet${data[i].sheetLabel
                        }Table" class="table table-striped table-bordered" style="width: 100%">
                                    <thead>
                                        <tr>
                                           ${tableHeader}
                                        </tr>
                                    </thead>
                                    <tbody>                                  

                                    </tbody>

                                </table>


                                            </div>`;
                }
                $(divId).append(`<div class="row  justify-content-md-center">
                                        <ul class="nav nav-tabs justify-content-center" role="tablist">
                                            ${navTabs}
                                         </ul>
                                         <div class="tab-content ">
                                            ${tabContent}
                                       </div>
                                    </div>`);

                var _data = [
              
                ];
                console.log( _data);
                for ( var i = 0; i < data.length; i++ )
                {

                    $.each(data[i].excelRow,
                        function(i, val) {
                            console.log(val);
                        });
                 
                    var tableId = `sheet${data[i].sheetLabel}Table`;
         
                    $(`#${tableId}`).DataTable({
                        pageLength: 25,
                        responsive: true,
                        data: _data,
                        rowReorder: {
                            selector: 'td:nth-child(2)'
                        },
                        dom: '<"row"<"col-md-6"l><"col-md-6"f>>rtip',


                    });

                }

            }

        });
    </script>

}
