@model Worstore.Models.HomeViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget-tabs-int mg-t-30">
            <div class="tab-hd">
                <h2>Tabs With animations</h2>
                <p>You may add optional animation classes to animate the tab panes when switching. Please refer the Animations page to get all the available classes <a target="_blank" href="https://daneden.github.io/animate.css/">Click Here</a>.</p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="widget-tabs-list tab-pt-mg">
                        <ul class="nav nav-tabs tab-nav-center">
                            <li class="active"><a data-toggle="tab" href="#home3">Add Simple Word</a></li>
                            <li><a data-toggle="tab" href="#menu13">Add Words From Excel</a></li>
                            <li><a data-toggle="tab" href="#menu23">Tab Menu 3</a></li>
                        </ul>
                        <div class="tab-content tab-custom-st">
                            <div id="home3" class="tab-pane in active animated zoomInLeft">
                                <div class="tab-ctn">




                                    <div class="row">

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mg-t-15">
                                            <div class="form-example-int form-example-st">

                                                <div class="form-group">
                                                    <label>
                                                        Choose a word`s
                                                        language
                                                    </label>
                                                    <div class="nk-int-st">
                                                        @Html.Partial("_LanguagesSelectList", Model.Languages)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mg-t-15">
                                            <div class="form-example-int form-example-st">

                                                <div class="form-group">
                                                    <label> Word</label>
                                                    <div class="nk-int-st">
                                                        <input type="text" class="form-control input-sm" name="Label" placeholder="Enter Word">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mg-t-15">
                                            <div class="form-example-int form-example-st">

                                                <div class="form-group">
                                                    <label> Meanings</label>
                                                    <div class="nk-int-st">
                                                        <input type="text" class="form-control input-sm" name="MeaningsString" placeholder="Enter Meanings">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mg-t-15">
                                            <div class="form-example-int form-example-st">
                                                <div class="form-group">
                                                    <label> Pronunciation</label>
                                                    <div class="nk-int-st">
                                                        <input type="text" class="form-control input-sm" name="Pronunciation" placeholder="Enter Pronunciation">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mg-t-15">
                                            <div class="form-example-int form-example-st">
                                                <div class="form-group">


                                                    <label> Group</label>
                                                    <div class="nk-int-st">
                                                        <input type="text" class="form-control input-sm" name="FkGroup" placeholder="Enter Group">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mg-t-15">
                                            <div class="form-example-int form-example-st">
                                                <div class="form-group">
                                                    <label> Tag</label>
                                                    <div class="nk-int-st">
                                                        <input type="text" class="form-control input-sm" name="Tag" placeholder="Enter Tag">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-t-15">
                                            <div class="form-example-int">
                                                <button class="btn btn-success notika-btn-success waves-effect  pull-right">Submit</button>
                                            </div>
                                        </div>
                                    </div>






                                </div>
                            </div>
                            <div id="menu13" class="tab-pane animated zoomInLeft">
                                <div class="tab-ctn">



                                    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="AddExcelFileContent">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <div class="form-group ic-cmp-int">
                                                <div class="form-ic-cmp">
                                                    <div id="fileBtn" class="file btn btn-primary notika-btn-primary waves-effect mg-t-10">
                                                        Choose File

                                                        <input type="file" class="form-control " name="excelFile" id="file" placeholder="Full Name">
                                                    </div>
                                                </div>
                                                <div class="nk-int-st " id="customFile">
                                                    <input type="text" class="form-control " id="file-label" readonly placeholder="Full Name">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <button type="button" class="btn btn-success notika-btn-success waves-effect mg-t-10" id="submit-file">Submit</button>
                                        </div>

                                        <div class="modal animated rubberBand" id="table-modal" role="dialog" style="display: none;">
                                            <div class="modal-dialog modal-large nk-red">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h2>Modal title</h2>

                                                        <div class="table-responsive" id="excel-file-container">

                                                        </div>


                                                    </div>
                                                    <div class="modal-footer mg-t-15">
                                                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-default waves-effect" id="save-excel-data">Save changes</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>










                                </div>
                            </div>
                            <div id="menu23" class="tab-pane animated zoomInLeft">
                                <div class="tab-ctn">






                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Styles
    {
    <link rel="stylesheet" href="@Url.Content("~/css/chosen/chosen.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/jquery.dataTables.min.css")">
    <style>

        #file {
            position: absolute;
            font-size: 50px;
            opacity: 0;
            right: 0;
            top: 0;
        }
    </style>
}
@section Scripts
    {
    <script src="@Url.Content("~/js/chosen/chosen.jquery.js")"></script>
    <script src="@Url.Content("~/js/data-table/jquery.dataTables.min.js")"></script>

    <script>


        $.fn.hasAttr = function ( name )
        {
            return this.attr( name ) !== undefined;
        };



        $(function() {


            $(".chosen")[0] &&
                $(".chosen").chosen({
                    width: "100%",
                    allow_single_deselect: !0
                });
        });
        $("#file").change(function() {

            var fieldVal = $(this).val();
            fieldVal = fieldVal.replace("C:\\fakepath\\", "");
            if (fieldVal != undefined || fieldVal != "") {

                $("#file-label").val(fieldVal);
            }

        });

        $('#submit-file').click(function() {
            var formFile = new FormData();
            var excelFile = $("#file")[0].files[0];
            formFile.append("excelFile", excelFile);


            $.ajax({
                type: "POST",
                url: '@Url.Action("ReadExcelFile")',
                processData: false, // tell jQuery not to process the data
                contentType: false, // tell jQuery not to set contentType
                data: formFile,
                success: function(data) {
                    //console.log( data);
                    $("#excel-file-container").html(data);

                    var tables = $("#excel-file-container table");
                    $.each(tables,
                        function(index, value) {
                            $(value).DataTable();
                        });


                    $( "#table-modal" ).modal( 'show' );

                    $(".chosen")[0] &&
                        $(".chosen").chosen({
                            width: "100%",
                            allow_single_deselect: !0
                        });

                },
                failure: function(response) {
                    alert(response);
                }
            });

        });
        $("#save-excel-data").on('click',
            function() {
                alert();



                var objectsList = $( '.objectList' );

                objectsList.each( function ( i, val )
                {
                    var headerName = $( this ).attr( 'name-header' );


                    $( this ).find( '.objectChild' ).each( function ( j, val )
                    {
                        $( this ).find( 'input , select' ).each( function ( c, val )
                        {

                            if ( $( this ).hasAttr( 'name' ) )
                            {
                                var endName = $( this ).attr( 'name' );
                                var name = headerName + `[${j}]` + "." + endName;
                                $( this ).attr( 'name', name );
                            }

                        } );
                    } );


                } );

            });

    </script>
}
